{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}
{% block content %}
<h1>Новость  {{ news.id }}</h1>
    <table>
        <tr>
            <td>
                <b> {{ news.name|cenzor }} </b>

                <i>{{ news.news_create_time|date:'m-d-Y g:i'  }}</i>
            </td>
        </tr>
        <tr>
            <td>

                {{ news.news_text|cenzor }}
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <i>{{ news.category.name }}</i>  |

                    <b>{{ news.news_author.author_user.username }}</b>
                </p>
            </td>

        </tr>
    </table>
{% endblock content %}