{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Search
{% endblock title %}
{% block content %}
    <h1>Поиск в новостях</h1>
    {% if all_news %}
        <form method="GET">
         {{ filter.form }}
         <input type="submit" value="Найти">
        </form>
        <table>
        <thead>
            <th>
              <b> Название статьи </b>
            </th>
             <th>
              <b> Автор </b>
            </th>
            <th>
               <b> Время создания </b>
            </th>
            <th>
                <b> Текст новости </b>
            </th>
            <th>
               <b> Категория </b>
            </th>
        </thead>
            {% for news in filter.qs %}
            <tr>
            <td>
                <a href="{% url 'news_detail' news.id %}">{{ news.name|cenzor }}</a> <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с информацией о товаре -->
            </td>
            <td>
                {{ news.news_author.author_user.username }}
            </td>
            <td>
               {{ news.news_create_time|date:'m d Y' }}
            </td>
            <td>
               {{ news.news_text|cenzor|truncatechars:50 }}
            </td>
             <td>
               {{ news.category.name }}
            </td>
            </tr>
        {% endfor %}
        </table>

      {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a href="?page=1">В начало!</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец!</a>
            {% endif %}

        {% endif %}
    {% endif %}

{% endblock content %}